.Rproj.user
.Rhistory
.RData
.Ruserdata

# Manuscript material and communications
sc_snRNAseq paper/*
notes/*
*.pptx
*.docx
*.csv

# Data
*.rds
*.h5
*.RData
*.loom
data/GEO-submission/*

# Referenced data
ref/Xie*
ref/GSM3017261*
ref/Cheung*

# results
results/*

# Specific scripts
scripts/*_detection.R
scripts/*.pdf
scripts/*.html

# We've moved to Quarto now
*.Rmd
*.rmarkdown

# Random files, cache, etc.
*.tmp
*_cache
*_files
